<div class="container" ng-controller="bidsCtrl">
	<div class="col-xs-1 col-md-1"></div>
	<div class="col-xs-10 col-md-10">

		<div class="panel panel-info">

			<div class="panel-heading">
				<div class="panel-title">
					<div class="row">
						<div class="col-xs-6 col-md-6">
							<h4>
								<span class="glyphicon glyphicon-record" style="color: #0064d2"></span>
								Your Bids' Standings
							</h4>
						</div>
					</div>
				</div>
			</div>

			<div class="alert alert-info text-center" role="alert"
				ng-hide="recordsFound"
				style="margin-top: 10px; margin-left: 10px; margin-right: 10px">Sorry!
				No records found. You need to first bid for products to view
				history.</div>

			<div class="panel-body">

				<table class="table table-hover" style="margin: 5px"
					ng-hide="!recordsFound">
					<thead>
						<th class="text-center">Product Name</th>
						<th class="text-center">Product Description</th>
						<th class="text-center">Current Max Bid</th>
						<th class="text-center">Current Max Bidder</th>
						<th class="text-center">Bidding On?</th>
						<th class="text-center">Winner</th>
						
					</thead>
					<tbody>
						<tr ng-repeat="record in records" class="text-center">
							<td>{{record.productName}}</td>
							<td>{{record.productDesc}}</td>
							<td>${{record.maxBidAmount}}</td>
							<td>{{record.maxBidderName}}</td>
							<td>{{record.biddingOn}}</td>
							<td>{{record.winner}}</td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>

	</div>
	<div class="col-xs-1 col-md-1"></div>

</div>
